.home-page{
    margin: auto 10%;
}

.home-page p,
.home-page h1,
.home-page a{
    margin-bottom: 2rem;
}

.home-page .col-left > p:nth-child(4){
    text-align: center;
}

.home-page .col-right{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.home-page .col-right img{
    border-radius: 30px;
}
@media screen and (max-width: 1024px) {
    .home-page .col-right img{
        width: 300px;
    }
}
@media screen and (max-width: 744px) {
    .home-page .container-row{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .home-page .col-left,
    .home-page .col-right,
    .home-page .col-right img{
        width: 100%;
    }
}